# Flask and related packages
Flask==2.3.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4

# WebSocket support
Flask-SocketIO==5.3.4
python-socketio==5.8.0
engineio==4.3.4
gevent==22.10.2
gevent-websocket==0.10.1

# Database drivers
psycopg2-binary==2.9.9
SQLAlchemy==2.0.15

# Environment and configuration
dotenv==0.0.5
python-dotenv==1.0.0

# Web server
gunicorn==20.1.0

# Utilities
requests==2.31.0

python-dateutil
python-telegram-bot
pytesseract
opencv-python
ultralytics
whisper
scipy
vaderSentiment
free-proxy
jsonify
simple-websocket