flask
flask-sqlalchemy
flask-migrate
flask-cors
python-dotenv
requests
python-dateutil
python-telegram-bot
pytesseract
opencv-python
ultralytics
whisper
scipy
vaderSentiment
free-proxy
flask-socketio>=5.3.0
eventlet
ffmpeg
vaderSentiment
jsonify
simple-websocket